{% extends 'site/base.html' %}
{% load static %}
{% block title %}
    Youtube Videos Resultados | Extracción de Datos
{% endblock title %}
{% block extraStyles %}
    <link href="{% static 'vendor/datatables/1.10.20/datatables.bs4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extraStyles %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Datos de Videos de Youtube</h1>
            {#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                    class="fas fa-download fa-sm text-white-50"></i> Ver comentarios de los videos </a>#}
            <i class="fa fa-youtube-play d-none d-sm-inline-block " style="font-size: 55px; color:#c4302b"></i>
        </div>

        <!-- Content Row resultado totales-->
        <div class="row">
            <!-- Card total de datos  -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-uppercase mb-1" style="color: red">
                                    Número de datos
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ numeroDatos }}</div>
                            </div>
                            <div class="col-4">
                                <i class="fas fa-poll fa-4x "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card total de parametros  -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: red">
                                    Número de campos
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                            </div>
                            <div class="col-4">
                                <i class="fas fa-outdent fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <!-- Content Row parametros y resultados tabla -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-stripe table-hover" id="dataTable"
                           width="100%" cellspacing="0">
                        <thead class="bg-danger">
                        <tr class="bg-dark" style="color: white">
                            <th scope="col">Fecha Consulta</th>
                            <th scope="col">VideoID</th>
                            <th scope="col">Título Video</th>
                            <th scope="col">Fecha Publicación</th>
                            <th scope="col">Número Vistas</th>
                            <th scope="col">Número Likes</th>
                            <th scope="col">Número DisLikes</th>
                            <th scope="col">Número Comentarios</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if datosVideos %}
                            {% for item in datosVideos %}
                                <tr>
                                    <th scope="row">{{ item.fechaConsulta }}</th>
                                    <td>{{ item.videoId }}</td>
                                    <td>{{ item.titulo }}</td>
                                    <td>{{ item.fechaPublicacion }}</td>
                                    <td>{{ item.numeroVistas }}</td>
                                    <td>{{ item.numeroLikes }}</td>
                                    <td>{{ item.numeroDisLikes }}</td>
                                    <td>{{ item.numeroComentarios }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <nav class="d-flex justify-content-center wow fadeIn">
                    {% if datosVideos.has_other_pages %}
                        <ul class="pagination pg-teal">
                            {% if datosVideos.has_previous %}
                                <li class="page-item"><a class="page-link" aria-label="Previous"
                                                         href="?page={{ datosVideos.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled"><span></span></li>
                            {% endif %}
                            {% for i in datosVideos.paginator.page_range %}
                                {% if datosVideos.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if datosVideos.has_next %}
                                <li class="page-item"><a class="page-link" aria-label="Next"
                                                         href="?page={{ datosVideos.next_page_number }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="sr-only">&raquo;</span></li>
                            {% endif %}
                        </ul>

                    {% endif %}
                </nav>
                <div style="text-align: center" class="pt-5 pb-4">
                    {% if datosVideos %}
                        <a href="{% url 'app:pages:youtube-videos-exportar' %}" class="btn  btn-dark  mb-3 mt-3"
                           style="cursor: pointer;color: white">Descargar como .csv</a>
                        <a href="{% url 'app:pages:youtube_resultados_comentarios' %}" class="btn  btn-danger"
                           style="cursor: pointer;color: white">Ver los comentarios</a>
                    {% else %}
                        <h3>No existen datos extraídos</h3>
                        <a href="{% url 'app:pages:youtube' %}" class="btn btn-dark font-weight-bold"
                           style="cursor: pointer;color: white;font-size: 20px">Extraer Datos</a>
                    {% endif %}
                </div>


            </div>
        </div>

    </div>
{% endblock content %}
{% block extraScripts %}

    <script src="{% static 'vendor/datatables/1.10.20/datatables.bs4.min.js' %}"></script>

    <script src="{% static 'vendor/sb-admin-2/js/demo/datatables.js' %}"></script>
{% endblock extraScripts %}