# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# IDEs project files

# PhpStorm
.idea

# VSCode
.vscode/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/