{% extends 'site/base.html' %}
{% load static %}
{% block title %}
Dashboard with Django and Bootstrap
{% endblock title %}
{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Resultados Twitter</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Gerenar Reporte</a>
  </div>

  <!-- Content Row resultado totales-->
  <div class="row">
    <!-- Card total de datos  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Número de datos
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">6000</div>
            </div>
            <div class="col-4">
              <i class="fas fa-poll fa-4x "></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card total de parametros  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Número de campos
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">6</div>
            </div>
            <div class="col-4">
              <i class="fas fa-outdent fa-4x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <!-- Content Row parametros y resultados tabla -->
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-6">
        <nav>
          <div class="nav nav-tabs card-header py-2 d-flex flex-row align-items-center " id="nav-tab" role="tablist">
            <a class="nav-link  text-primary active" id="nav-parametros-tab" data-toggle="tab" href="#nav-parametros"
              role="tab" aria-controls="nav-parametros" aria-selected="true">
              Parametros
            </a>
            <a class="nav-link" id="nav-resultado-tab" data-toggle="tab" href="#nav-resultados" role="tab"
              aria-controls="nav-resultados" aria-selected="false">
              Resultados
            </a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active py-4" id="nav-parametros" role="tabpanel"
            aria-labelledby="nav-parametros-tab">

            <div class="card-body py-0">
              <div class="row">

                <!-- Card agregar parametros  -->
                <div class="col-xl-4 col-md-6">
                  <div class="card border-bottom-success shadow h-100 py-0 ">
                    <div class="d-sm-flex align-items-center justify-content-between">
                      <h4 class="col-6 text-xs font-weight-bold text-primary text-uppercase py-2"> Parametro 1</h4>
                      <a href="#" class="">
                        <i class="fas fa-times-circle fa-1x"></i>
                      </a>
                    </div>
                    <div class="col-6 ">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Fechas
                      </div>
                      <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker"
                        inline="true">
                        <input placeholder="Select date" type="text" id="example" class="form-control">
                        <label for="example">Selecciona...</label>
                        <i class="fas fa-calendar input-prefix"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Card para agregar nuevo parametros  -->
                <div class="col-xl-4 col-md-6 ">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2 ">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Nuevo Parametro
                          </div>
                          <div class="form-inline h5 mb-0 font-weight-bold text-gray-80">
                            <label class="my-3 mr-3" for="inputState">
                              <h6> Seleccione </h6>
                            </label>
                            <select id="inputState" class="form-control col-8">
                              <option selected>parametro 2</option>
                              <option>parametro 3</option>
                              <option>parametro 4</option>
                              <option>parametro 5</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="d-sm-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-primary" title="btn btn-primary"
                          data-toggle="tooltip">Agregar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- boton de generara consulta -->
            <div class="d-sm-flex align-items-center justify-content-center py-3  mb-1">
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generar Consulta</a>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-resultados" role="tabpanel" aria-labelledby="nav-resultados-tab">
            <!-- tabla de resultados -->

            <div class="container-fluid py-4">
              <div class="card shadow mb-4">
                
                <!-- table Heading -->
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                  <h6 class="m-0 font-weight-bold text-primary">Resutaldo de twitter</h6>
                  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                      class="fas fa-download fa-sm text-white-50"></i> Exportar datos</a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-stripe table-hover" id="dataTable" width="100%"
                      cellspacing="0">
                      {% for row in data %}
                      {% if forloop.first %}
                      <thead>
                        <tr>
                          {% for col in row  %}<th>{{ col }}</th>{% endfor %}
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          {% for col in row  %}<th>{{ col }}</th>{% endfor %}
                        </tr>
                      </tfoot>

                      <tbody>
                        {% endif %}

                        <tr>
                          {% for col in row  %}<td>{{ col }}</td>{% endfor %}
                        </tr>
                        {% if forloop.last %}
                      </tbody>
                      {% endif %}
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}