{% extends 'mercadolibre/base.html' %}
{% load static %}
{% block title %}
    Mercado Libre - Resultados Tendencia de Búqueda
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row py-2 mb-1">
            <div class="col-md-8">
                <h1 class="h3 mb-0 text-gray-800">Resultados Mercado Libre</h1>
                <div class="row py-4">
                    <div class="col-md-6">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Número de datos
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ num_registros }}
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-poll fa-4x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Número de campos
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ num_parametros }}
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-outdent fa-4x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 frame-center">
                <i href="#" class="fas fa-shopping-cart fa-7x " style="color: rgb(235, 235, 23);"></i>
            </div>
        </div>
        <hr/>

        <!-- Content Row parametros y resultados tabla -->

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-6">
                    <nav>
                        <div class="nav nav-tabs card-header py-2 d-flex flex-row align-items-center" id="nav-tab"
                             role="tablist">
                            <a class="nav-link text-primary active" id="nav-resultados-tab" data-toggle="tab"
                               href="#nav-resultados" role="tab" aria-controls="nav-parametros" aria-selected="true">
                                Resultados
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade fade show active py-4" id="nav-resultados" role="tabpanel"
                             aria-labelledby="nav-resultados-tab">
                            <!-- tabla de resultados -->
                            <div class="container-fluid py-4">
                                <div class="card shadow mb-4">
                                    <!-- table Heading -->
                                    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                            Resutaldo de Mercado Libre
                                        </h6>
                                        <form method="post">{% csrf_token %}
                                            <button type="submit"
                                                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                                    class="fas fa-download fa-sm text-white-50"></i>
                                                Exportar datos
                                            </button>
                                        </form>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-stripe table-hover" id="dataTable"
                                            >
                                                {% for row in datos %} {% if forloop.first %}
                                                    <thead>
                                                    <tr>
                                                        {% for col in name_columns %}
                                                            <th>{{ col.name }}</th>
                                                        {% endfor %}
                                                        <th>Button</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                {% endif %}

                                                <tr>
                                                    <td>{{ row.consulted_at }}</td>
                                                    <td>{{ row.nombre }}</td>
                                                    <td>{{ row.url }}</td>
                                                    <td>
                                                        <button class="btnHacerCrawler d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-3"
                                                                name="hacer_crawler_scrapin"
                                                                >
                                                            Hacer Crawler-Scraping
                                                        </button>
                                                    </td>
                                                </tr>
                                                {% if forloop.last %}
                                                    </tbody>
                                                {% endif %} {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center">
                    <div class="spinner-border text-success " role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}


{% block extraScripts %}
    <script src="{% static 'vendor/datatables/1.10.20/datatables.bs4.min.js' %}"></script>
    <script src="{% static 'vendor/sb-admin-2/js/demo/datatables.js' %}"></script>

    <script>
        // funcion para obtencion de una token de ajax para django
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            //RETORNANDO EL TOKEN
            return cookieValue;
        } //end function getCookie

        /*AJAX HACIA DJANGO PARA LA CRAWLER-SCRAPPING DE CADA UNOS DE LAS TENDENCIAS*/
        //token
        var csrftoken = getCookie("csrftoken");
        $(function () {

            $("#dataTable").on("click", '.btnHacerCrawler', function () {
                $('#staticBackdrop').modal('show');
                $.ajax({
                    url: window.location.pathname,
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                        action: "hacer_crawler_scraping",
                        consulted_at: $(this).parents("tr").find("td")[0].innerHTML,
                        nombre: $(this).parents("tr").find("td")[1].innerHTML,
                        url: $(this).parents("tr").find("td")[2].innerHTML
                    },
                    dataType: "json",
                })
                    .done(function (data) {
                        console.log('regreso')
                        $('#staticBackdrop').modal('hide');

                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $('#staticBackdrop').modal('hide');
                        alert(textStatus + ": " + errorThrown);
                    })
                    .always(function (data) {
                        {#categorias.html(options);#}
                    });
            });


        });
    </script>
{% endblock extraScripts %}