{% extends 'site//base.html' %}
{% load static %}
{% block title %}
    Dashboard with Django and Bootstrap
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-{{ message.tags }} alert-dismissible fade show font-weight-bold" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <!-- Page Heading -->
    <div id="alertWrapper">

    </div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">

            <h1 class="h3 mb-0 text-gray-800">Tendencias de Google</h1>
            <i class="fa fa-google d-none d-sm-inline-block " style="font-size: 55px; color: #F4B400;"></i>
        </div>
        <div style="text-align: center" id="busquedaWrapper">
            <div class="row mb-5">
                <div class="col-lg-8 mx-auto">
                    <div class="bg-white p-5 rounded shadow">

                        <!-- Custom rounded search bars with input group -->
                        <form action="">
                            <div class="col 12">
                                <h4 class="text-xs font-weight-bold text-primary text-uppercase py-2"
                                    style="text-align: left">
                                    Términos o temas de Búsqueda</h4>
                                <div class="col-sm-12 col-md-12 col-xl-12 mb-3 bg-light rounded rounded-pill shadow-sm"
                                     style="margin: 0px 0px">
                                    <input type="text" class="form-control border-0 bg-light"
                                           placeholder="Escriba el primer término de búsqueda (Ejm: textil,tela,algodon)"
                                           id="terminoBusqueda" name="palabraClave"/>
                                </div>
                                <h4 class="text-xs font-weight-bold text-primary text-uppercase py-2"
                                    style="text-align: left">Región en donde se realizará la búsqueda</h4>
                                <div class="col-sm-12 col-md-12 col-xl-12 mb-3 bg-light rounded rounded-pill shadow-sm"
                                     style="margin: 0px 0px">


                                    <input type="text" class="form-control border-0 bg-light"
                                           placeholder="Escriba la región (Ejm: EC para Ecuador)"
                                           id="region" name="region"/>
                                </div>
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"
                                        style="font-size: 20px"><i
                                        class="fa fa-search"></i> Buscar Tendencias
                                </button>

                            </div>
                        </form>
                        <!-- End -->

                    </div>
                </div>
            </div>

        </div>
        <div class="container mb-3" style="text-align: center;">
            <div class="row mr-4">
                <div class="row" id="legend">
                </div>

            </div>
        </div>

        <div class="col-xl-10 col-lg-10 container invisible" id="tiempoContainer">
            <div class="card shadow mb-4">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" id='tituloTiempo'>Interés a lo largo del
                        tiempo</h6>

                    <div class="dropdown no-arrow">
                        <a class=" text-primary" id="buttonDescargar" style="cursor: pointer"
                           title="Descargar como csv"><i class="fa-fw fas fa-download"></i></a>
                        <a
                                class="dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownMenuLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-primary"></i>

                        </a>
                        <div
                                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink"
                        >
                            <div class="dropdown-header">Intervalo de tiempo:</div>
                            <a class="dropdown-item" href="#" id="1dia">Ultimo día</a>
                            <a class="dropdown-item" href="#" id="1semana">Ultima semana</a>
                            <a class="dropdown-item" href="#" id="1mes">Ultimo mes</a>
                            <a class="dropdown-item" href="#" id="3meses">Ultimos 3 meses</a>
                            <a class="dropdown-item" href="#" id="12meses">Ultimos 12 meses</a>
                            <a class="dropdown-item" href="#" id="5anios">Ultimos 5 años</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" id="2004"> 2004 - hoy</a>
                        </div>
                    </div>

                </div>

                <!-- Card Body -->

                <div class="card-body">
                    <div class="chart-area" id='chart-container'>

                        <canvas id="myAreaChartGoogle"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Area Chart -->

            <!-- Pie Chart -->
            {#            <div class="container-fluid mr-5 ml-5 row invisible" id="regionContainer">#}
            {#                <div class="col-xl-6 col-lg-6 mb-3">#}
            {#                    <div class="card shadow mb-6">#}
            {#                        <!-- Card Header - Dropdown -->#}
            {#                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
            {#                            <h6 class="m-0 font-weight-bold text-primary" id="region-titulo">Interés por región</h6>#}
            {#                        </div>#}
            {#                        <!-- Card Body -->#}
            {#                        <div class="card-body">#}
            {#                            <div class="chart-area pt-0 pb-0" id="chart-container-region">#}
            {#                                <canvas id="horizontalBarChartCanvas"></canvas>#}
            {#                            </div>#}
            {##}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-xl-6 col-lg-6">#}
            {#                    <div class="card shadow mb-6">#}
            {#                        <!-- Card Header - Dropdown -->#}
            {#                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
            {#                            <h6 class="m-0 font-weight-bold text-primary" id="region-titulo2">Interés por región</h6>#}
            {#                        </div>#}
            {#                        <!-- Card Body -->#}
            {#                        <div class="card-body">#}
            {#                            <div class="chart-area pt-0 pb-0" id="chart-container-region2">#}
            {#                                <canvas id="horizontalBarChartCanvas2"></canvas>#}
            {#                            </div>#}
            {##}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
{% endblock content %}
{% block extraScripts %}
    <script>
        $(document).ready(function () {
            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#858796';
            // catch the form's submit event
            var fecha = "";
            $('#button-addon1').click(function () {
                // create an AJAX call
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }

                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'today 12-m'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "today 12-m"
                        $('#alertWrapper').empty();
                        $('#regionContainer').removeClass('invisible');
                        $('#tiempoContainer').removeClass('invisible');
                        $('#12meses').addClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Ultimos 12 meses)')
                        {#$('#region-titulo').text('Interés por región: ' + palabraClave)#}
                        {#$('#region-titulo2').text('Interés por región: ' + palabraClave2)#}
                        $('#variables').remove();
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i id=\"legendElement\" class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')

                        }

                        $('#busquedaWrapper').after(
                        )
                        console.log(response.regiones)
                        var jsonObject = JSON.parse(response.trends)
                        //for (k in jsonObject) {
                        //   console.log(Object.values(jsonObject[k]))
                        //}
                        graficaInteres(response.fechas, jsonObject, nombres, colores)
                        {#graficarInteresRegion(response.label1, response.interesRegion, "rgba(78, 115, 223, 1)")#}
                        {#graficarInteresRegion2(response.label2, response.interesRegion2, "rgba(244,160,0,1)")#}


                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                         $('#myAreaChartGoogle').remove();
                         $('#legend').empty();
                        $('#alertWrapper').append('  <div class="alert alert-warning alert-dismissible fade show" role="alert">\n' +
                            '            Error al extraer los datos, revise que los parámetros son los correctos\n' +
                            '            <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                            '                <span aria-hidden="true">&times;</span>\n' +
                            '            </button>\n' +
                            '        </div>')

                    }
                });

                return false;
            });

            {#para descargar los datos #}
            $('#buttonDescargar').click(function () {
                // create an AJAX call
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': fecha
                    },
                    url: "{% url 'app:pages:exportar-trends' %}",
                    // on success
                    success: function (response) {
                        var blob = new Blob([response], {type: 'application/ms-excel'});
                        var downloadUrl = URL.createObjectURL(blob)
                        var a = document.createElement("a");
                        a.href = downloadUrl;
                        var currentdate = new Date();
                        a.download = "google_trends_" + currentdate.getDate() + "/"
                            + (currentdate.getMonth() + 1) + "/" + +currentdate.getFullYear() + "@"
                            + currentdate.getHours() + ":"
                            + currentdate.getMinutes() + ":"
                            + currentdate.getSeconds() + "region:" + $('#region').val() + ".csv";
                        document.body.appendChild(a);
                        a.click();
                    },

                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });


            $('#1dia').click(function () {
                // create an AJAX call
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }

                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'now 1-d'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "now 1-d"

                        $('#12meses').removeClass('text-info');
                        $('#3meses').removeClass('text-info');
                        $('#1mes').removeClass('text-info');
                        $('#1semana').removeClass('text-info');
                        $('#5anios').removeClass('text-info');
                        $('#2004').removeClass('text-info');
                        $('#1dia').addClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Día actual)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);

                        graficaInteres(response.fechas, jsonObject, nombres, colores)

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#3meses').click(function () {
                // create an AJAX call
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'today 3-m'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "today 3-m"
                        $('#12meses').removeClass('text-info');
                        $('#3meses').addClass('text-info');
                        $('#1mes').removeClass('text-info');
                        $('#1semana').removeClass('text-info');
                        $('#5anios').removeClass('text-info');
                        $('#2004').removeClass('text-info');
                        $('#1dia').removeClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Ultimos tres meses)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);

                        graficaInteres(response.fechas, jsonObject, nombres, colores)

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#1mes').click(function () {
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'today 1-m'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "today 3-m"
                        $('#12meses').removeClass('text-info');
                        $('#3meses').removeClass('text-info');
                        $('#1mes').addClass('text-info');
                        $('#1semana').removeClass('text-info');
                        $('#5anios').removeClass('text-info');
                        $('#2004').removeClass('text-info');
                        $('#1dia').removeClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Ultimo mes)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);
                        graficaInteres(response.fechas, jsonObject, nombres, colores)

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#1semana').click(function () {
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'now 7-d'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "now 7-d"
                        $('#12meses').removeClass('text-info');
                        $('#3meses').removeClass('text-info');
                        $('#1mes').removeClass('text-info');
                        $('#1semana').addClass('text-info');
                        $('#5anios').removeClass('text-info');
                        $('#2004').removeClass('text-info');
                        $('#1dia').removeClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Ultima semana)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);
                        graficaInteres(response.fechas, jsonObject, nombres, colores)
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#5anios').click(function () {
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'today 5-y'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "today 5-y"
                        $('#12meses').removeClass('text-info');
                        $('#3meses').removeClass('text-info');
                        $('#1mes').removeClass('text-info');
                        $('#1semana').removeClass('text-info');
                        $('#5anios').addClass('text-info');
                        $('#2004').removeClass('text-info');
                        $('#1dia').removeClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Ultimos 5 años)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);
                        graficaInteres(response.fechas, jsonObject, nombres, colores)

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#12meses').click(function () {
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'today 12-m'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "today 12-m"
                        $('#12meses').addClass('text-info');
                        $('#3meses').removeClass('text-info');
                        $('#1mes').removeClass('text-info');
                        $('#1semana').removeClass('text-info');
                        $('#5anios').removeClass('text-info');
                        $('#2004').removeClass('text-info');
                        $('#1dia').removeClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Ultimos 12 meses)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);
                        graficaInteres(response.fechas, jsonObject, nombres, colores)

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#2004').click(function () {
                var palabraClave = $('#terminoBusqueda').val();
                var region = $('#region').val();
                var nombres = palabraClave.split(",");
                var colores = ["#4285F4", "#DB4437", "#F4B400", "#0F9D58"]
                for (i = 0; i < nombres.length; i++) {
                    if (i > 3) {
                        colores.push("#" + ((1 << 10) * Math.random() | 0).toString(16))
                    }
                }
                $.ajax({
                    data: {
                        'palabraClaves': palabraClave,
                        'region': region,
                        'fecha': 'all'
                    }, // get the form data
                    url: "{% url 'app:pages:obtener-trends' %}",
                    // on success
                    success: function (response) {
                        fecha = "all"
                        $('#12meses').removeClass('text-info');
                        $('#3meses').removeClass('text-info');
                        $('#1mes').removeClass('text-info');
                        $('#1semana').removeClass('text-info');
                        $('#5anios').removeClass('text-info');
                        $('#2004').addClass('text-info');
                        $('#1dia').removeClass('text-info');
                        $('#tituloTiempo').text('Interés a lo largo del tiempo (Desde 2004)')
                        $('#legend').empty();
                        for (var i = 0; i < nombres.length; i++) {
                            $('#legend').append('<i  class=\"fas fa-circle  ml-5  mr-2\"' + 'style=\"color:' + colores[i] + ';\"' + '>' + nombres[i] + '</i>')
                        }
                        var jsonObject = JSON.parse(response.trends);
                        graficaInteres(response.fechas, jsonObject, nombres, colores)

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
        })


        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        function graficaInteres(labels, data, nombres, colores) {
            // Area Chart Example
            $('#myAreaChartGoogle').remove(); // this is my <canvas> element
            $('#chart-container').append('<canvas id="myAreaChartGoogle"><canvas>');
            var LINECHART = $('#myAreaChartGoogle');
            window.myLineChart = new Chart(LINECHART, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [],
                },
                options: {
                    legend: {
                        display: true,
                        position: 'top',
                        labels: {
                            boxWidth: 80,
                            fontColor: 'black'
                        }
                    },
                    maintainAspectRatio: false,

                    layout: {
                        padding: {
                            left: 10,
                            right: 15,
                            top: 15,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },

                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 4,
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                maxTicksLimit: 5,
                                padding: 10,
                                // Include a dollar sign in the ticks
                                callback: function (value, index, values) {
                                    return number_format(value);
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Interés',
                                fontSize: 20
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            label: function (tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
                            }
                        }
                    }
                }
            });
            var i = 0
            for (trends in data) {
                myLineChart.data.datasets.push({
                    label: nombres[i],

                    lineTension: 0.3,
                    backgroundColor: "transparent",
                    borderColor: colores[i],
                    pointBorderColor: colores[i],
                    pointHoverBackgroundColor: colores[i],
                    pointBackgroundColor: colores[i],
                    pointBorderWidth: 2,
                    pointHoverRadius: 3,
                    pointHoverBorderColor: colores[i],

                    pointRadius: 3,
                    pointHitRadius: 10,
                    data: Object.values(data[trends]),
                    spanGaps: false
                });
                i++;
            }
            //Use the window object to update myLineChart
            window.myLineChart.update();

        }

        function graficarInteresRegion(labels, data, color) {
            //$('#myAreaChartGoogle').remove(); // this is my <canvas> element
            //$('#chart-container').append('<canvas id="myAreaChartGoogle"><canvas>');
            $('#horizontalBarChartCanvas').remove(); // this is my <canvas> element
            $('#chart-container-region').append('<canvas id="horizontalBarChartCanvas"><canvas>');
            var horizontalBarChart = new Chart(horizontalBarChartCanvas, {
                type: 'horizontalBar',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: color,
                    }]
                },
                options: {
                    tooltips: {
                        enabled: true
                    },
                    responsive: true,
                    legend: {
                        display: false,
                        position: 'bottom',
                        fullWidth: true,
                        labels: {
                            boxWidth: 50,
                            padding: 2
                        }
                    },
                    scales: {
                        yAxes: [{
                            barPercentage: 0.95,
                            gridLines: {
                                display: true,
                                drawTicks: true,
                                drawOnChartArea: false
                            },
                            ticks: {
                                max: 10,
                                fontColor: '#555759',
                                fontFamily: 'Lato',
                                fontSize: 10
                            }

                        }],
                        xAxes: [{
                            gridLines: {
                                display: true,
                                drawTicks: false,
                                tickMarkLength: 5,
                                drawBorder: false
                            },
                            ticks: {
                                padding: 5,
                                beginAtZero: true,
                                fontColor: '#555759',
                                fontFamily: 'Lato',
                                fontSize: 11,
                                min: 0,
                                max: 100,
                                stepSize: 25,
                                callback: function (label, index, labels) {
                                    return label;
                                }

                            },
                            scaleLabel: {
                                display: true,
                                padding: 5,
                                fontFamily: 'Lato',
                                fontColor: '#555759',
                                fontSize: 16,
                                fontStyle: 700,
                                labelString: 'Interes'
                            },

                        }]
                    }
                }
            });
        }

        function graficarInteresRegion2(labels, data, color) {
            $('#horizontalBarChartCanvas2').remove(); // this is my <canvas> element
            $('#chart-container-region2').append('<canvas id="horizontalBarChartCanvas2"><canvas>');
            var horizontalBarChart = new Chart(horizontalBarChartCanvas2, {
                type: 'horizontalBar',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: color,
                    }]
                },
                options: {
                    tooltips: {
                        enabled: true
                    },
                    responsive: true,
                    legend: {
                        display: false,
                        position: 'bottom',
                        fullWidth: true,
                        labels: {
                            boxWidth: 50,
                            padding: 2
                        }
                    },
                    scales: {
                        yAxes: [{
                            barPercentage: 0.95,
                            gridLines: {
                                display: true,
                                drawTicks: true,
                                drawOnChartArea: false
                            },
                            ticks: {
                                max: 10,
                                fontColor: '#555759',
                                fontFamily: 'Lato',
                                fontSize: 10
                            }

                        }],
                        xAxes: [{
                            gridLines: {
                                display: true,
                                drawTicks: false,
                                tickMarkLength: 5,
                                drawBorder: false
                            },
                            ticks: {
                                padding: 5,
                                beginAtZero: true,
                                fontColor: '#555759',
                                fontFamily: 'Lato',
                                fontSize: 11,
                                min: 0,
                                max: 100,
                                stepSize: 25,
                                callback: function (label, index, labels) {
                                    return label;
                                }

                            },
                            scaleLabel: {
                                display: true,
                                padding: 5,
                                fontFamily: 'Lato',
                                fontColor: '#555759',
                                fontSize: 16,
                                fontStyle: 700,
                                labelString: 'Interes'
                            },

                        }]
                    }
                }
            });
        }


    </script>
{% endblock extraScripts %}