{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- incio cache -->
{#	<meta http-equiv="Expires" content="0">#}
{#	<meta http-equiv="Last-Modified" content="0">#}
{#	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">#}
{#	<meta http-equiv="Pragma" content="no-cache">#}
{#	<!-- fin cache -->#}

	<title>
		{% block title %}
		Dashboard Extracción de Datos
		{% endblock title %}
	</title>

	{% include 'site/base_header_styles.html' %}
	{% block    extra_styles %}
	{% endblock extra_styles %}

</head>

<body id="page-top">

	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'app:index' %}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-database"></i>
				</div>
				<div class="sidebar-brand-text mx-3"> Proyecto Suma</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0" />

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'app:index' %}">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider" />

			<!-- Heading -->
			<div class="sidebar-heading">
				Redes Sociales
			</div>

			<!-- Nav Item - Facebook -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:facebook' %}">
					<i class="fab fa-facebook-square"></i>
					<span>Facebook</span></a>
			</li>

			<!-- Nav Item - Instagram -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:instagram' %}">
					<i class="fab fa-instagram"></i>
					<span>Instagram</span></a>
			</li>

			<!-- Nav Item - Twitter -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:twitter' %}">
					<i class="fab fa-twitter"></i>
					<span>Twitter</span></a>
			</li>
			<!-- Nav Item - Youtube -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:youtube' %}">
					<i class="fab fa-youtube"></i>
					<span>Youtube</span></a>
			</li>

			<!-- Nav Item - Google -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:google' %}">
					<i class="fab fa-google"></i>
					<span>Google</span></a>
			</li>
			<!-- Divider -->
			<hr class="sidebar-divider" />

			<!-- Heading -->
			<div class="sidebar-heading">
				Plataformas E-commerce
			</div>

			<!-- Nav Item - Mercado Libre -->
			<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-shopping-cart"></i>
						<span>Mercado Libre</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a href="{% url 'app:pages:mercadolibre_api' %}" class="collapse-item" >API</a>
							<a href="{% url 'app:pages:mercadolibre_scraping' %}" class="collapse-item" >Web Scraping</a>
						</div>
					</div>
				</li>

			<!-- Nav Item - OLX -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:olx' %}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>OLX</span></a>
			</li>
            <!-- Nav Item - Amazon -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'app:pages:amazon' %}">
					<i class="fab fa-amazon"></i>
					<span>Amazon</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block" />

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<nav class="navbar navbar-light bg-white topbar mb-3 static-top shadow  justify-content-center font-weight-bold">
			Universidad de Cuenca
			</nav>
			<!-- Main Content -->
			<div id="content">
				<!-- Begin Page Content -->
				{% block content %}
				MISSING CONTENT
				{% endblock content %}
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	{% include 'site/base_footer_scripts.html' %}
	{%  block extraScripts %}
	{% endblock extraScripts %}
</body>

</html>